<!DOCTYPE html>
<html>
	<head>
		<title>Inicio</title>
		<meta charset="utf-8">
		<link rel='stylesheet' type='text/css' href='../styles/stilo.css'/>
	</head>
	<body>
		<h1>Intentos</h1>
		<div>
			<h1>Prácticas</h1>
			<li><a href="../programs/prac1.php">1 Modulo</a></li>
			<li><a href="../programs/prac2.php">2 codificacion propia</a></li>
			<li><a href="../programs/prac3.php">3 Playfair</a></li>
			<li><a href="../programs/prac4.php">4 Número de cuenta</a></li>
			<li><a href="../programs/prac5.php">5 XOR</a></li>
			<li><a href="../programs/prac6.php">6 Cifrado simétrico</a></li>
			<li><a href="../programs/prac7.php">7 Hash</a></li>
			<h1>Ejercicios</h1>
			<li><a href="../programs/valcurp.php">CURP con clave unica</a></li>
			<li><a href="../programs/visa.php">VISA</a></li>
			<li><a href="../programs/vigenere.php">Vigenere</a></li>
		</div>
	</body>
</html>